<div class="row clearfix">
	<% if sprint_task.completed? %>
		<div class="complete">
      <%= link_to complete_product_backlog_item_sprint_task_path(@product_backlog_item, sprint_task.id), method: :patch do %>
				<i style="opacity: 0.4;" class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="todo_item">
			<p style="opacity: 0.4;"><strike><%= sprint_task.content %></strike></p>
		</div>
		<div class="trash">
      <%= link_to product_backlog_item_sprint_task_path(@product_backlog_item, sprint_task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% else %>
		<div class="complete">
      <%= link_to complete_product_backlog_item_sprint_task_path(@product_backlog_item, sprint_task.id), method: :patch do %>
				<i class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="todo_item">
			<p><%= sprint_task.content %></p>
		</div>
		<div class="trash">
      <%= link_to product_backlog_item_sprint_task_path(@product_backlog_item, sprint_task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% end %>
</div>