<%= form_for(@product_backlog_item) do |f| %>
  <% if @product_backlog_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_backlog_item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @product_backlog_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>

  <div class="field">
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :initialsizeestimate %><br>
    <%= f.text_field :initialsizeestimate %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
