<% @product_backlog_items.each do |product_backlog_item| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to product_backlog_item.item, product_backlog_item %></h2>
  </div>
<% end %>

<div class="links">
  <%= link_to 'New Product backlog item', new_product_backlog_item_path %>
</div>
