<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= @product_backlog_item.item %></h2>

<div id="todo_items_wrapper">
	<%= render @product_backlog_item.sprint_tasks %>
	<div id="form">
		<%= render "sprint_tasks/form" %>
	</div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_product_backlog_item_path(@product_backlog_item) %> |
  <%= link_to 'Delete', product_backlog_item_path(@product_backlog_item), method: :delete, data: { confirm: "Are you sure?" }
 %> |
  <%= link_to 'Back', product_backlog_items_path %>
</div>

